<table style="border:solid rgb(153, 147, 147)">
    <tr>
      <td colspan="2" style="text-align:center">
        <img [src]='image' style="height:150px; width: auto;" *ngIf="objekt.image_id">
      
        <img src="./assets/img/favicon.svg" style="height:150px; width: auto" *ngIf="!objekt.image_id">
      </td>
    </tr>
    <tr>
      <td style="white-space: nowrap;  text-align:center">
        <div class="uploadFile">
          <label for="image{{randomid}}" class="uploadBtnLabel">
            <mat-icon>{{tekst}}</mat-icon>
          </label>
          <input type="file" (change)="onFileChange($event)" id="image{{randomid}}" style="display: none" accept=".jpg"  />
        </div>
      </td>
      <td style="white-space: nowrap; text-align:center">
        <div class="uploadFile" (click)="slett(form)" *ngIf="objekt.image_id">
          <label class="uploadBtnLabel">
            <mat-icon>delete</mat-icon>
          </label>
        </div>
      </td>
    </tr>
  </table>